docs/API/TPG_BrdCst.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/"
    xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
    xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
    xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
    xmlns:ns="http://www.w3.org/2001/XMLSchema"
    xmlns:tns="http://jackhenry.com/jxchange/TPG/2008"
    targetNamespace="http://jackhenry.com/jxchange/TPG/2008">

    <!-- This starts the Types section  -->

    <types>
        <xsd:schema elementFormDefault="qualified" attributeFormDefault="qualified"
            targetNamespace="http://jackhenry.com/jxchange/TPG/2008"
            xmlns="http://jackhenry.com/jxchange/TPG/2008" version="2024.1.03"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">

            <xsd:include schemaLocation="TPG_BrdCstMaster.xsd" />

        </xsd:schema>
    </types>

    <!-- This starts the Message section  -->

    <message name="MessageFault">
        <part name="parameters" element="tns:HdrFault" />
    </message>

    <message name="PingInput">
        <part name="parameters" element="tns:Ping" />
    </message>
    <message name="PingOutput">
        <part name="parameters" element="tns:PingResponse" />
    </message>

    <message name="BrdCstSrchInput">
        <part name="parameters" element="tns:BrdCstSrch" />
    </message>
    <message name="BrdCstSrchOutput">
        <part name="parameters" element="tns:BrdCstSrchResponse" />
    </message>

    <!-- This starts the PortType section  -->

    <portType name="BrdCstService">

        <operation name="Ping">
            <input message="tns:PingInput" />
            <output message="tns:PingOutput" />
            <fault name="Fault" message="tns:MessageFault" />
        </operation>

        <operation name="BrdCstSrch">
            <input message="tns:BrdCstSrchInput" />
            <output message="tns:BrdCstSrchOutput" />
            <fault name="Fault" message="tns:MessageFault" />
        </operation>

    </portType>

    <!-- This starts the Binding section  -->

    <binding name="BrdCstServiceSoapBinding" type="tns:BrdCstService">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />

        <operation name="Ping">
            <soap:operation soapAction="http://jackhenry.com/ws/Ping" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
            <fault name="Fault">
                <soap:fault name="Fault" use="literal" />
            </fault>
        </operation>

        <operation name="BrdCstSrch">
            <soap:operation soapAction="http://jackhenry.com/ws/BrdCstSrch" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
            <fault name="Fault">
                <soap:fault name="Fault" use="literal" />
            </fault>
        </operation>

    </binding>

    <!-- This starts the Service section  -->

    <service name="BrdCstService">
        <documentation>Service Description for the BrdCstService Interface</documentation>
        <port name="BrdCstServiceSoap" binding="tns:BrdCstServiceSoapBinding">
            <soap:address location="https://jackhenry.com/jxchange/2008/BroadcastEvent/BroadcastEventSG.svc" />
        </port>
    </service>
</definitions>
