docs/API/TPG_Workflow.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/"
    xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
    xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
    xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
    xmlns:ns="http://www.w3.org/2001/XMLSchema"
    xmlns:tns="http://jackhenry.com/jxchange/TPG/2008"
    targetNamespace="http://jackhenry.com/jxchange/TPG/2008">

    <!-- This starts the Types section  -->

    <types>
        <xsd:schema elementFormDefault="qualified" attributeFormDefault="qualified"
            targetNamespace="http://jackhenry.com/jxchange/TPG/2008"
            xmlns="http://jackhenry.com/jxchange/TPG/2008" version="2024.1.03"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">

            <xsd:include schemaLocation="TPG_WorkflowMaster.xsd" />

        </xsd:schema>
    </types>

    <!-- This starts the Message section  -->

    <message name="MessageFault">
        <part name="parameters" element="tns:HdrFault" />
    </message>

    <message name="PingInput">
        <part name="parameters" element="tns:Ping" />
    </message>
    <message name="PingOutput">
        <part name="parameters" element="tns:PingResponse" />
    </message>

    <message name="PubWorkflowSrchInput">
        <part name="parameters" element="tns:PubWorkflowSrch" />
    </message>
    <message name="PubWorkflowSrchOutput">
        <part name="parameters" element="tns:PubWorkflowSrchResponse" />
    </message>

    <message name="WorkflowInstcStartInput">
        <part name="parameters" element="tns:WorkflowInstcStart" />
    </message>
    <message name="WorkflowInstcStartOutput">
        <part name="parameters" element="tns:WorkflowInstcStartResponse" />
    </message>

    <message name="WorkflowInstcModInput">
        <part name="parameters" element="tns:WorkflowInstcMod" />
    </message>
    <message name="WorkflowInstcModOutput">
        <part name="parameters" element="tns:WorkflowInstcModResponse" />
    </message>

    <message name="WorkflowInstcSrchInput">
        <part name="parameters" element="tns:WorkflowInstcSrch" />
    </message>
    <message name="WorkflowInstcSrchOutput">
        <part name="parameters" element="tns:WorkflowInstcSrchResponse" />
    </message>

    <!-- This starts the PortType section  -->

    <portType name="WorkflowService">

        <operation name="Ping">
            <input message="tns:PingInput" />
            <output message="tns:PingOutput" />
            <fault name="Fault" message="tns:MessageFault" />
        </operation>

        <operation name="PubWorkflowSrch">
            <input message="tns:PubWorkflowSrchInput" />
            <output message="tns:PubWorkflowSrchOutput" />
            <fault name="Fault" message="tns:MessageFault" />
        </operation>

        <operation name="WorkflowInstcStart">
            <input message="tns:WorkflowInstcStartInput" />
            <output message="tns:WorkflowInstcStartOutput" />
            <fault name="Fault" message="tns:MessageFault" />
        </operation>

        <operation name="WorkflowInstcMod">
            <input message="tns:WorkflowInstcModInput" />
            <output message="tns:WorkflowInstcModOutput" />
            <fault name="Fault" message="tns:MessageFault" />
        </operation>

        <operation name="WorkflowInstcSrch">
            <input message="tns:WorkflowInstcSrchInput" />
            <output message="tns:WorkflowInstcSrchOutput" />
            <fault name="Fault" message="tns:MessageFault" />
        </operation>

    </portType>

    <!-- This starts the Binding section  -->

    <binding name="WorkflowServiceSoapBinding" type="tns:WorkflowService">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />

        <operation name="Ping">
            <soap:operation soapAction="http://jackhenry.com/ws/Ping" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
            <fault name="Fault">
                <soap:fault name="Fault" use="literal" />
            </fault>
        </operation>

        <operation name="PubWorkflowSrch">
            <soap:operation soapAction="http://jackhenry.com/ws/PubWorkflowSrch" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
            <fault name="Fault">
                <soap:fault name="Fault" use="literal" />
            </fault>
        </operation>

        <operation name="WorkflowInstcStart">
            <soap:operation soapAction="http://jackhenry.com/ws/WorkflowInstcStart" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
            <fault name="Fault">
                <soap:fault name="Fault" use="literal" />
            </fault>
        </operation>

        <operation name="WorkflowInstcMod">
            <soap:operation soapAction="http://jackhenry.com/ws/WorkflowInstcMod" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
            <fault name="Fault">
                <soap:fault name="Fault" use="literal" />
            </fault>
        </operation>

        <operation name="WorkflowInstcSrch">
            <soap:operation soapAction="http://jackhenry.com/ws/WorkflowInstcSrch" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
            <fault name="Fault">
                <soap:fault name="Fault" use="literal" />
            </fault>
        </operation>

    </binding>

    <!-- This starts the Service section  -->

    <service name="WorkflowService">
        <documentation>Service Description for the WorkflowService Interface</documentation>
        <port name="WorkflowServiceSoap" binding="tns:WorkflowServiceSoapBinding">
            <soap:address location="https://jackhenry.com/jxchange/2008/ServiceGateway/Workflow.svc" />
        </port>
    </service>
</definitions>
